* {
    box-sizing: border-box;
  }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    background-color: white;
  }

a {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

header {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

header img {
    width: 46px;
    height: 46px;
    margin-right: auto;
}

header > a {
    color: #4000ff;
    margin-left: 30px;
}

section.banner {
    height: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

div.hero {
    height: 360px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    min-width: 280px;
}

h1.hero {
    margin: 0px 0px 34px 0px;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 146.5%;
}

a.hero {
    color: #4000ff;
    font-size: .87em;
    line-height: 152.3%;
}

div.link-box {
    position: relative;
    height: auto;
}

.custom-underline::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 0px;
    height: 1px;
}

.hero.custom-underline::after {
    width: 95px;
    background-color: #4000ff;
}

.contact.custom-underline::after {
    width: 183px;
    background-color: white;
}

div#portrait {
    width: auto;
    height: auto;
}

div#portrait > img {
    width: 100%;
    height: auto;
}

section.project-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

div.project-container {
    width: 100%;
    height: auto;
    background-color: #0d023b;
}

div.padding {
    display: flex;
    flex-direction: column;
    padding: 30px 25px 0px 25px;
}

h2.project-title {
    /* font-size: 1.8em;
    font-weight: 600; */
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 130%;
    margin: 0px 0px 20px 0px;
    color: white;
}

.project-container p {
    font-weight: 300;
    font-size: 0.9em; 
    line-height: 152.3%;
    letter-spacing: .04em;
    width: auto;
    margin: 0px 0px 28px 0px;
    color: white;
}

.project-container a {
    color: white;
    font-size: .87em;
    margin: 0px 0px 22px 0px;
    width: 100px;
}

img.project-image {
    height: auto;
    width: 100%;
    vertical-align: bottom;
}

section.about-section {
    width: 100%;
    height: auto;
    background-color: #4000ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

h2.contact {
    margin: 80px 0px 18px 0px;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 146.5%;
    color: white;
}

.about-section a {
    color: white;
    font-size: .87em;
}

p.about {
    /* font-family: 'Roboto Mono', monospace;
    font-size: .87em;
    font-weight: 300;
    line-height: 160%; */
    font-size: 1em;
    font-weight: 300;
    line-height: 152.3%;
    letter-spacing: .04em;
    width: auto;
    margin-top: 60px;
    margin-bottom: 80px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #4000ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-top: .5px solid white;
}

footer > a {
    color: white;
    margin: 0px 15px 0px 15px;
}

a.custom-underline:hover::after,
a.custom-underline:focus::after {
    background-color: #F24E1E;
}

a:hover, a:focus {
    color: #F24E1E;
}