* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    background-color: white;
}

/* LINK STYLES */

a {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    position: relative;
    color: #4000ff;
    transition: 0.5s ease;
}

header a {
    margin-left: 15px;
}

a.hero {
    line-height: 152.3%;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.project-links a {
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    position: relative;
    line-height: 152.3%;
    letter-spacing: .1em;
    display: inline-block;
    margin-right: 15px;
}

.about-section a {
    color: white;
    font-size: .87em;
}

footer a {
    color: white;
    margin: 0px 15px;
}

.hero.underline::after {
    background-color: #4000ff;
}

.underline::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 0px;
    height: 1px;
    width: 100%;
}

.project-links .underline::after,
.contact.underline::after {
    background-color: white;
}

a:hover, 
a:focus {
    color: #f9006c;
}

a.underline:hover:after,
a.underline:focus:after,
.project-links a.underline:hover::after,
.project-links a.underline:focus::after,
.hero.underline:hover::after  {
    background-color: #f9006c;
}

/* HEADER */

header {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/* NAV */

.navigation {
    display: flex;
    position: relative;
}

#navigation__checkbox {
    display: none;
}

.navigation__hamburger-container {
    cursor: pointer;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 25px;
    position: relative;
}

.navigation__hamburger,
.navigation__hamburger:before,
.navigation__hamburger:after {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #4000ff;
    transition: all .7s ease;
    margin: 0 auto;
}

.navigation__hamburger:before,
.navigation__hamburger:after {
    content: "";
    position: absolute;
}

.navigation__hamburger:before {
    top: 0px;
    left: 0;
}

.navigation__hamburger:after {
    bottom: 0;
    left: 0;
}

nav {
    position: fixed;
    top: 0; left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 0;
    overflow: hidden;
    background-color: #4000ff;
    z-index: 2;
    transition: all .5s ease;
}

nav a {
    color: white;
    font-size: 4em;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 30px 0px;
}

#navigation__checkbox:checked ~ nav {
    height: 100vh;
    line-height: normal;
}

#navigation__checkbox:checked + .navigation__hamburger-container .navigation__hamburger,
#navigation__checkbox:checked + .navigation__hamburger-container .navigation__hamburger:before,
#navigation__checkbox:checked + .navigation__hamburger-container .navigation__hamburger:after {
    background-color: white;
}

#navigation__checkbox:checked + .navigation__hamburger-container .navigation__hamburger:before {
    transform: translateY(8px) rotateZ(45deg);
}

#navigation__checkbox:checked + .navigation__hamburger-container .navigation__hamburger:after {
    transform: translateY(-8px) rotateZ(-45deg);
}

#navigation__checkbox:checked + .navigation__hamburger-container .navigation__hamburger {
    width: 0;
}

/* BANNER */

.banner {
    height: calc(100vh - 80px);
    width: 100%;
    padding: 0 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

div.hero {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: -40px;
    min-width: 280px;
}

h1.hero {
    margin: 0px 0px 34px 0px;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 146.5%;
    z-index: 2;
}

div.link-box {
    position: relative;
    height: auto;
}

div#portrait {
    width: 440px;
    height: auto;
    background-image: url('images/tricia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 0% left -70px;
    border-radius: 50%;
    position: relative;
}

div#portrait::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

/* PROJECTS */

section.project-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    margin: -10px 0;
}

.project-container {
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin: 10px 0px;
    margin-bottom: 130px;
}

.blue {
    background-color: #0d023b;
}

.purple {
    background-color: #2C156B;
}

.light-purple {
    background-color: #6b00ff;
}

.project-text-container {
    display: flex;
    flex-direction: column;
    padding: 30px 25px 0px 25px;
}

h2.project-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 130%;
    margin: 0px 0px 20px 0px;
}

.light {
    color: white;
}

.project-container p {
    font-weight: 300;
    font-size: 0.9em; 
    line-height: 152.3%;
    letter-spacing: .04em;
    width: auto;
    margin: 0px 0px 28px 0px;
}

.project-links {
    margin-bottom: 48px;
}

.project-image {
    height: auto;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -100px;
}

.project-image.roots {
    width: 100%;
}

/* ABOUT */

.about-section {
    width: 100%;
    height: auto;
    background-color: #4000ff;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.about-container {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

h2.contact {
    margin: 0px 0px 18px 0px;
    padding-top: 80px;
    font-size: 1.8em;
    font-weight: 600;
    line-height: 146.5%;
    color: white;
}

p.about {
    font-size: 1em;
    font-weight: 300;
    line-height: 152.3%;
    letter-spacing: .04em;
    width: auto;
    margin-top: 80px;
    margin-bottom: 0px;
    padding-bottom: 80px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #4000ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-top: .5px solid white;
}

/* Responsive */

@media screen and (max-height: 700px) {
    h1.hero {
        margin-bottom: 10px;
    }

    div.hero {
        margin-bottom: -22px;
    }

    div#portrait {
        width: 300px;
    }
}

@media screen and (min-width: 768px) {
    header {
        height: 120px;
    }

    .banner {
        height: calc(100vh - 120px);
        max-width: 1300px;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
    }

    div.hero {
        margin: 0;
        margin-top: -230px;
        margin-left: -90px;
    }

    h1.hero {
        max-width: 400px;
    }

    div#portrait {
        width: 480px;
        background-position: top 0% left -80px;
    }

    a.hero {
        font-size: 1em;
    }

    section.project-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    div.project-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 300px;
        padding: 45px 50px;
        margin: 20px 0;
    }

    div.project-text-container {
        display: inline-block;
        padding: 0px 50px 0px 0px;
    }

    h2.project-title {
        font-size: 1em;
        font-weight: 400;
        line-height: 130%;
        margin: 0px 0px 20px 0px;
    }

    .project-container p {
        font-size: 1em;
        max-width: 400px;
    }

    .project-links {
        margin: 0;
    }

    .project-image {
        width: 300px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .project-image.roots {
        width: 300px;
        margin-bottom: -40px;
    }

    section.about-section {
        padding-left: 60px;
        padding-right: 60px;
        display: flex;
        justify-content: center;
    }

    div.about-container {
        width: 100%;
        max-width: 1200px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    div.contact-container {
        margin-right: 80px;
    }

    p.about {
        width: auto;
        align-self: flex-end;
    }

    .about-section a {
        font-size: 1em;
    }

    footer {
        width: 100%;
        height: 150px;
    }
    
    footer a {
        margin: 0px 25px;
    }
}

@media screen and (min-width: 1000px) {
    .banner {
        padding-bottom: 120px;
    }
    
    h1.hero {
        max-width: 600px;
        font-size: 2.67em;
    }

    div#portrait {
        width: 480px;
        background-position: top 0% left -80px;
    }

    section.project-section {
        align-items: center;
        margin: -20px 0;
    }

    h2.project-title {
        font-size: 1.4em;
    }

    div.project-container {
        height: 500px;
        padding: 50px 100px;
        margin: 20px 0;
        justify-content: space-between;
    }

    .project-container p {
        font-size: 1.1em; 
        max-width: 500px;
    }

    .project-links {
        margin-bottom: 0px;
    }

    .project-links a {
        font-size: 1em;
        margin: 0px 40px 0px 0px;
    }

    .project-image {
        width: 400px;
    }

    .project-image.roots {
        width: 450px;
    }

    div.contact-container {
        margin-right: 160px;
    }

    h2.contact {
        margin: 0px 0px 18px 0px;
        padding-top: 175px;
        font-size: 2.67em;
    }

    .about-section a {
        font-size: 1.1em;
    }

    p.about {
        font-size: 1.4em;
        width: auto;
        max-width: 700px;
        margin-top: 175px;
        margin-bottom: 175px;
        padding: 0;
    }

    footer {
        height: 200px;
    }
}

@media screen and (min-width: 1300px) {
    header {
        padding: 0px;
    }
}